[build]
  command = "npm run build"
  publish = "dist"

[dev]
  command = "npm run dev"
  port = 5173

[context]
  [context.deploy-preview]
    command = "npm run build"
    publish = "dist"

  [context.branch-deploy]
    command = "npm run build"
    publish = "dist"

  [context.production]
    command = "npm run build"
    publish = "dist"